*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix{
    zoom: 1;
    &:after{
        content: '';
        display: block;
        height: 0;
        clear: both;
    }
}
a{
    text-decoration: none;
}
.top{
    height: 30px;
    line-height: 30px;
    background: #f4f4f4;
    .top_container{
        width: 990px;
        margin: 0 auto;
        ul{
            float: right;
            li{
                float: left;
                font-size: 12px;
                padding-left: 5px;
                span{
                    padding: 0 5px;
                    img{
                        display: inline-block;                        
                        width: 21px;
                        height: 23px;
                        vertical-align: middle;
                        &.user{
                            display: inline-block;
                            width: 7px;
                            height: 12px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
.title{
    height: 110px;
    background:url('../images/title_bg.png');
    .tit_container{
        width: 990px;
        margin: 0 auto;
        .logo{
            float: left;
            img{
                display: block;
                height: 110px;
            }
        }
        .search{
            float: right;
            width: 460px;
            height: 40px;
            margin-top: 35px;
            background: #eaf1e9;
            border: 1px solid #dce9db;
            border-radius: 3px;
            padding: 5px;
            box-sizing: border-box;
            input{
                height: 30px;
                width: 355px;
                line-height: 30px;
                box-sizing: border-box;
                vertical-align: middle;
                border: 1px solid #ccc;
            }
            button{
                width: 88px;
                height: 30px;
                line-height: 30px;
                margin-left: -5px;
                box-sizing: border-box;
                vertical-align: middle;
                background: #87c959;
                border: none;
                border-radius: 3px;
                color: #fff;
                span{
                    color: #fff;
                    display: inline-block;
                    width: 21px;
                    height: 23px;
                    vertical-align: middle;
                    background:url('../images/search_logo.png')no-repeat;
                }

            }
        }
    }
}
.banner{
    background: url('../images/banner_bg.png') repeat-x;
    .banner_container{
        position: relative;
        width: 980px;
        margin: 0 auto;
        .banner_list{
            text-align: center;
            a{
                display: inline-block;
                width: 70px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                margin: 0 10px;
            }
        }
        .all_product{
            position: absolute;
            left: 0;
            top: -6px;
            .all_product_tit{
                width: 200px;
                height: 45px;
                line-height: 45px;
                background: url('../images/all_products_bg.png');
                font-size: 18px;
                color: #fff;
                font-weight: bold;
            }
            ul{
                background: #f9f8f4;
                li{
                    width: 200px;
                    border-bottom: 1px solid #836e5d;
                    box-sizing: border-box;
                    h3{
                        font-size: 14px;
                        font-weight: bold;
                        color: #b9ada4;
                        padding-top: 14px;
                        margin-left: 15px;
                        padding-bottom: 7px;
                    }
                    .items{
                        padding-left: 30px;
                        padding-bottom: 10px;
                        a{
                            display: inline-block;
                            width: 48%;
                            font-size: 12px;
                            color: #836e5d;
                            height: 15px;
                            line-height: 15px;
                            
                        }
                    }
                }
            }
        }
        .banner_content{
            position: relative;
            width: 579px;
            height: 340px;
            margin: 0 auto;
            background: url('../images/banner.png') no-repeat;
            .tabs{
                position: absolute;
                bottom: 0;
                width: 579px;
                ul{
                    li{
                        float: left;
                        width: 20%;
                        height: 34px;
                        line-height: 34px;
                        text-align: center;
                        background: #8c8777;
                        a{
                            font-size: 12px;
                            color: #fff;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .juanzhou{
            position: absolute;
            right: -27px;
            top: -11px;
            width: 243px;
            .tops{
                width: 243px;
                height: 12px;
                background: url('../images/juanzhou_top.png') no-repeat;
            }
            .content{
                width: 220px;
                margin: 0 auto;
                background: url('../images/juanzhou_bg.png') no-repeat;
                .tit{
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }
                ul{
                    li{
                        border-bottom: 1px dashed #ccc;
                        padding: 16px 0;
                        &:last-child{
                            border-bottom: none;
                        }
                        img{
                            display: inline-block;
                            width: 77px;
                            height: 65px;
                            margin-left: 15px;
                            margin-right: 10px;
                            padding: 3px;
                            border: 1px solid #fff;
                            vertical-align: middle;

                        }
                        .details{
                            width: 105px;
                            display: inline-block;
                            vertical-align: middle;

                            h4{
                                color: #87c959;
                                font-size: 12px;
                                font-weight: bold;
                            }
                            p{
                                font-size: 12px;
                                color: #836e5d;
                                font-weight: normal;
                            }
                        }

                    }
                }
                .more{
                    float: right;
                    a{
                        font-size: 12px;
                        color: #87c959;
                    }
                }
            }
        }
    }
}