* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
body {
  font-size: 12px;
}
.top_container,
.tit_container,
.nav_container,
.products_container,
.footer_container {
  width: 990px;
  margin: 0 auto;
}
.top {
  background: #f4f4f4;
  min-width: 990px;
}
.top .top_container ul {
  float: right;
}
.top .top_container ul li {
  float: left;
  line-height: 30px;
  padding: 0  12px;
}
.top .top_container ul li.car {
  padding-left: 25px;
  background: url('../images/car.png') no-repeat 0 center;
}
.top .top_container ul li.user {
  background: url('../images/user.png') no-repeat 0 center;
}
.top .top_container ul li.phone {
  background: url('../images/mobile.png') no-repeat 0 center;
  padding-right: 0;
}
.tit {
  background: url('../images/title_bg.png');
}
.tit .tit_container .logo {
  float: left;
  width: 268px;
  height: 84px;
  padding: 13px 0;
}
.tit .tit_container .search {
  float: right;
  padding: 5px;
  margin: 37px 0;
  border: 1px solid #dcead6;
  border-radius: 3px;
}
.tit .tit_container .search input {
  width: 352px;
  line-height: 30px;
  border: 1px solid #cccccc;
}
.tit .tit_container .search button {
  width: 96px;
  line-height: 30px;
  border: 1px solid #77c243;
  border-radius: 3px;
  color: #ffffff;
  background: url('../images/search_logo.png') no-repeat 6px center #77c244;
  padding-left: 15px;
  font-size: 14px;
}
.nav {
  background: url('../images/banner_bg.png') repeat-x;
}
.nav .nav_container {
  position: relative;
}
.nav .nav_container .left {
  float: left;
  width: 200px;
  box-shadow: 0 0 0 3px #d8d5cf;
}
.nav .nav_container .left h3 {
  position: relative;
  margin-top: -5px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px;
  background: url('../images/all_products_bg.png') no-repeat;
}
.nav .nav_container .left .all_product {
  background: #f9f8f4;
  box-sizing: border-box;
}
.nav .nav_container .left .all_product .items {
  box-sizing: border-box;
  border-bottom: 1px solid #b9ada4;
  padding: 10px 0;
}
.nav .nav_container .left .all_product .items h6 {
  font-size: 14px;
  color: #b9ada4;
  font-weight: normal;
  padding: 2px 0;
  padding-left: 10px;
}
.nav .nav_container .left .all_product .items a {
  display: inline-block;
  padding-left: 25px;
  width: 70px;
  line-height: 25px;
  font-size: 12px;
  color: #b9ada4;
}
.nav .nav_container .middle {
  float: left;
  width: 570px;
}
.nav .nav_container .middle .nav_list {
  text-align: center;
}
.nav .nav_container .middle .nav_list a {
  display: inline-block;
  width: 103px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  color: #ffffff;
}
.nav .nav_container .middle .nav_list a.active {
  background: #a2de6d;
}
.nav .nav_container .middle .img {
  height: 360px;
}
.nav .nav_container .middle .img img {
  width: 100%;
  height: 100%;
}
.nav .nav_container .middle .nav_list_bottom {
  position: absolute;
  bottom: 0;
  width: 570px;
}
.nav .nav_container .middle .nav_list_bottom a {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 35px;
  color: #ffffff;
}
.nav .nav_container .middle .nav_list_bottom a:nth-child(2) {
  background: rgba(0, 0, 0, 0.5);
}
.nav .nav_container .right {
  position: absolute;
  right: -5px;
  margin-top: -12px;
  width: 245px;
  background: url(../images/r-bg.png) 0px -7px;
}
.nav .nav_container .right h3 {
  font-size: 20px;
  font-weight: 700;
  color: #bace5c;
  text-align: center;
  margin-top: 20px;
}
.nav .nav_container .right .design {
  margin: 0 20px;
  margin-top: 8px;
}
.nav .nav_container .right .design ul li {
  border-bottom: 1px dotted #d8d7c6;
  padding: 18px 0;
}
.nav .nav_container .right .design ul li:last-child {
  border-bottom: none;
}
.nav .nav_container .right .design ul li .imgs {
  display: inline-block;
  border: 1px solid #c6d1ba;
  box-sizing: border-box;
  padding: 2px;
  background: #ffffff;
  margin-right: 8px;
  vertical-align: middle;
}
.nav .nav_container .right .design ul li .imgs img {
  width: 77px;
  height: 65px;
}
.nav .nav_container .right .design ul li .desc {
  display: inline-block;
  width: 105px;
  vertical-align: middle;
}
.nav .nav_container .right .design ul li .desc h6 {
  color: #77c243;
  font-size: 12px;
}
.nav .nav_container .right .design ul li .desc p {
  font-size: 12px;
  line-height: 20px;
  color: #836e5d;
}
.nav .nav_container .right .more {
  text-align: right;
  color: #77c243;
  height: 45px;
}
.nav .nav_container .right .more span {
  vertical-align: middle;
}
.products {
  background: #f9f6ef;
  padding-bottom: 65px;
  border-bottom: 1px solid #a6a6a6;
}
.products .products_container {
  margin-top: 25px;
}
.products .products_container .tit {
  position: relative;
  background: #f6f6f6;
  border: 1px solid #e2e2e2;
}
.products .products_container .tit h3 {
  display: inline-block;
  width: 200px;
  text-align: center;
  background: #77c243;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.products .products_container .tit .more {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 20px;
  color: #898989;
}
.products .products_container .product_lists {
  padding: 30px;
  background: #ffffff;
}
.products .products_container .product_lists ul li {
  float: left;
  width: 210px;
  margin-right: 30px;
}
.products .products_container .product_lists ul li:last-child {
  margin-right: 0;
}
.products .products_container .product_lists ul li .img {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 5px;
}
.products .products_container .product_lists ul li .img img {
  width: 200px;
  height: 185px;
}
.products .products_container .product_lists ul li .descript {
  width: 200px;
  line-height: 30px;
  position: relative;
  margin-left: 5px;
  margin-top: -38px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}
.products .products_container .product_lists ul li p {
  line-height: 40px;
  color: #836e5d;
  text-align: center;
}
.products .products_container .product_lists ul li span {
  display: block;
  float: left;
  color: #5d9b1e;
  margin-left: 10px;
}
.products .products_container .product_lists ul li button {
  width: 50px;
  line-height: 18px;
  background: #5d9b1e;
  float: right;
  margin-right: 10px;
  border: none;
  color: #ffffff;
  font-size: 12px;
}
.footer .footer_container .slogin {
  margin: 18px 0;
  background: url('../images/footer_bg.png');
}
.footer .footer_container .slogin ul li {
  float: left;
  line-height: 66px;
  padding-left: 120px;
  font-size: 20px;
  color: #572b08;
}
.footer .footer_container .slogin ul li:first-child {
  padding-left: 95px;
}
.footer .footer_container .slogin ul li:last-child {
  padding-left: 110px;
}
.footer .footer_container .footer_bottom dl {
  float: left;
  width: 19%;
  box-sizing: border-box;
}
.footer .footer_container .footer_bottom dl dt {
  text-align: center;
  background: url('../images/list_bg.png') no-repeat 43px 0px;
  line-height: 25px;
}
.footer .footer_container .footer_bottom dl dd {
  text-align: center;
}
.footer .footer_container .footer_bottom dl.number {
  width: 210px;
  height: 100px;
  box-sizing: border-box;
  padding: 5px 10px;
  border-right: 1px solid #cccccc;
  text-align: left;
}
.footer .footer_container .footer_bottom dl.number dt {
  font-size: 20px;
  color: #836e5d;
  background: none;
  text-align: left;
}
.footer .footer_container .footer_bottom dl.number dd {
  text-align: left;
}
.footer .footer_container .footer_bottom dl.number dd.first {
  color: #83b30c;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}
.footer .footer_container .footer_bottom dl.number dd.second {
  color: 999999;
}
.footer .footer_container .footer_bottom dl.number dd.third {
  color: #83b30c;
  font-size: 18px;
}
.copyright {
  background: #836e5d;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.copyright span {
  margin: 0 5px;
}
